@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #fefaf3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

/*  */
@layer components {
  .sidebar-bg {
    @apply bg-flan;
  }

  .btn-primary {
    @apply flex h-10 w-[225px] items-center justify-center rounded-full bg-teal text-base font-bold text-white hover:text-white hover:opacity-75 disabled:bg-disabled;
  }

  .btn-primary:disabled {
    @apply hover:opacity-100;
  }

  .btn-no-fill {
    @apply text-sm underline hover:text-bright-blue;
  }

  .action-card {
    @apply mt-8 shrink-0 rounded-lg p-8 text-white shadow-md;
  }

  .action-card {
    @apply rounded text-white;
  }

  .action-card-title {
    @apply text-lg font-semibold;
  }

  /* layout */
  .unordered-list {
    @apply ml-6 list-disc text-wrap;
  }
  .ordered-list {
    @apply ml-6 list-decimal;
  }
  .column {
    @apply flex flex-col gap-4;
  }

  /* typography */
  /* headers */
  .section-title {
    @apply text-xl font-bold;
  }

  .section-title-underlined {
    @apply section-title border-b border-gray-2 pb-3;
  }

  .label {
    @apply text-base font-bold tracking-wide;
  }

  /* data */
  .data-value-sm {
    /*@apply font-data text-sm text-green;*/
    @apply font-data text-sm text-black;
  }

  .data-value-base {
    @apply font-data text-base text-black;
  }

  .data-value-lg {
    @apply font-data text-lg text-teal;
  }

  .data-value-2xl {
    @apply font-data text-2xl text-teal;
  }

  /* layout */
  .content-block {
    @apply box-border rounded-md bg-white p-7;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .break-anywhere {
    overflow-wrap: anywhere;
  }
}

@layer base {
  body {
    min-height: 100vh;
  }

  button {
    @apply select-none;
  }

  input,
  [type='text'],
  [type='number'],
  select {
    @apply h-[30px] w-[320px] overflow-ellipsis rounded-md border-none bg-white py-0 pl-2 text-sm text-black outline-none outline outline-1 outline-gray-3 disabled:text-disabled disabled:opacity-85;
  }

  select {
    @apply cursor-pointer pr-7;
  }

  ::placeholder {
    @apply text-disabled !important;
  }

  a {
    @apply hover:text-bright-blue;
  }
}
