@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
@layer components {
  .btn-primary {
    @apply mt-6 px-8 p-3 h-14 rounded-full text-white text-lg bg-cobalt border-black shadow-md;
  }
  .btn-cancel {
    @apply mt-6 px-8 p-3 rounded-full text-white text-lg bg-silver border-black shadow-md;
  }
  select {
    @apply text-black px-6 py-2 rounded-md border-0 w-500 h-14 font-medium text-lg;
  }
  .action-card {
    @apply mt-8 p-8 shrink-0 rounded-lg bg-white-transparent text-white shadow-md;
  }
  .action-card input {
    @apply border-silver rounded text-white bg-white-transparent;
  }
  .action-card-title {
    @apply font-semibold text-2xl;
  }
  .action-btn-l {
    @apply grow mr-3;
  }
  .action-btn-r {
    @apply grow ml-3;
  }
}

body {
  color: white;
  min-height: 100vh;
  margin: 2em;
  background: linear-gradient(to bottom right, #293B59, #007DA1);
}
