@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
@layer components {
  .btn-primary {
    @apply mt-6 px-8 p-2 rounded-2xl text-white bg-aqua border-white;
  }
  .btn-secondary {
    @apply mt-6 px-8 p-2 rounded-2xl text-white bg-cobalt border-black;
  }
  .btn-cancel {
    @apply mt-6 px-8 p-2 rounded-2xl text-white bg-silver border-black;
  }
  select {
    @apply text-black px-6 py-2 rounded-md border-0;
  }
  .action-card {
    @apply mt-8 p-4 text-black bg-white rounded-lg;
  }
  .action-card input {
    @apply border-silver rounded;
  }
}

body {
  color: white;
  min-height: 100vh;
  margin: 2em;
  background: linear-gradient(to bottom right, #2e3f63, #74cad0);
}
